.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f5f5f5; */
    padding: 0 40px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}


.navbar .logo img {
    width: 200px;
    height: 70px;
    object-fit: contain;
    /* mix-blend-mode: luminosity; */
}

.navbar .navLinks {
    display: flex;

}

.navbar .navLinks a {
    margin: 0 20px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    transition: all 0.3s ease;
}

.navbar .navLinks a:hover {
    color: #f1356d;
}